<% provide(:title ,"About") %>

<div class="static-container">
	<h1>About...</h1>
<h2>... Why I created Little Life</h2>
<p>This is a little app I have created for you, dear NextBeat team. <br><br>
When I saw your job posting a couple days ago, I knew I wouldn't sleep this week-end. Learning two stacks and build an application in a couple days, that's my kind of challenge!<br><br>
The application is written in Ruby and Vuejs. It was surprisingly easy to learn both (especially coming from a React background). However, I had a hard time to integrate them well together by trying to deliver as fast as I could. Knowing what I know now, I would never build an application with such a stupid architecture. As you will see, the routing is extremely poor, I started to understand the frameworks too late and discovered Vuex only this morning... So yes, the app is wonky and if you want me to rebuild it in a way that makes more sense I think that in a day or less it could be done. 
The UI is pretty weak as well because I had to focus on the technology stack. Once again, if you want me to I can make it better to prove my worth.<br><br>

Many features haven't been implemented. Also despite being a IT security novice expert, this is not a safe application. It lacks some very basic rerouting, validation, it exposes password hashes. Please don't try to hack me ! I have created a todo list which is very messy that you can access at <span style="text-decoration:underline;"><%= link_to 'Todo', '/help'%> </span></p>
<h2>...the UI</h2>

<p>This is exercise was really about learning the stack and unfortunately I didn't get to think about designs nor did I implement any sort of best practice (cf NavBar). The idea behind the color palette and the shapes was to attract hype house-parents as well as their children. <br><br>The colors are soft pastels which are reminiscent of a nursery. I find the use of pastels in general interesting because it can be used alongside flashy colors to better drive the eye to call for actions.<br><br> I wish I could have worked a bit harder on the graphs to make them look more appealing and allow some more gameplay. If I were to implement something like in real life, I would probably make use of the canvas to create some sort of animated game using the aggregated data. <br> <br> Unlike many of the projects you are working on I think this one is great for animations since it is supposed to appeal to kids. Their attention span is short so we want things to move a lot. I usually love working on animations but again, no time. Once again the pastel colors are calming which would be more attractive to parents by toning down the harshness of animations. Here is a Dribble which exemplifies what I am trying to say: <a href="https://dribbble.com/shots/4479162-Doja-iOS-App-Case-Study" target="_blank">dribbble.com/shots/4479162-Doja-iOS-App-Case-Study</a><br><br>Beside fixing the obvious oddities crippling this app, I believe that to improve the current app there needs to be a lot more effort put onto the play with different colors to attract the users where we want them to click. </p>
<h2>... Little Life</h2>
<p>Little Life was created with the intention of helping families following the evolution of their beautiful little children. 
Parents like to follow the growth of their children, we regularly mark their height on the side of the door because in the midst of everyday life we might not realize fast pace of their changes.</p>
<p>With Little life you can see those changes on your own app from your phone or your laptop, anywhere as long as you have Internet access! Moreover families can enter health data. Nowadays  most of our kids health data is in the hands of our doctor and health-care provider. It is often difficult and/or costly to have access to that data. With Little Life this data is readily available and it is the families who own their information. And top of this control over privacy, a dashboard which is regularly maintained can provide additional information to your doctor when you go see her, in order for her to make the best diagnostic.</p>
<h2>... Some Warning</h2>
<p>
This is an app which was created on the fly. Do not rely on it for anything. The architecture is really poor because the author did not
know Ruby nor Vuejs when he started it. He sacrificed proper practices for fast development and learning. Hopefully the beta version will allow a much smoother experience!
</p>


</div>