<footer class="footer">
	<div class="container">
    <div class="footer-main">
    	<h3>Navigation</h3>
      <p><%= link_to "About",   '/about' %></p>
      <p><%= link_to "Contact", '/contact' %></p>
      <p><%= link_to "Careers", '/careers' %></p>
      <p><%= link_to "Easter egg", 'https://www.youtube.com/watch?v=88sWErVepHI' %></p>
    </div>
    <div class="footer-main">
    	<h3>Social</h3>

		<a href="https://linkedin/in/jackmisteli" class="fa fa-linkedin"></a>
		<a href="https://twitter.com/jackmisteli" class="fa fa-twitter"></a>
		<a href="https://github.com/otomakan" class="fa fa-github"></a>
		
    </div>
	</div>

</footer>